<div class="questions-show">
  <div class="question-card">
    <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%= @question.q_percent %>"
    aria-valuemin="0" aria-valuemax="100" style="width:<%= @question.q_percent %>%">
    </div>

  </div>
    <div class="question-number">
      <%= @question.number %>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <h5><%= @question.content %></h5>
    </div>
  <% if @question.question_type == 'checkbox'%>
    <%= render 'components/card-survey-checkbox', question: @question%>
  <% elsif @question.question_type == 'special' %>
    <%= render 'components/card-survey-special', question: @question%>
  <% elsif @question.question_type == 'pre' %>
    <%= render 'components/card-survey-pre', question: @question%>
  <% end %>
  </div>
</div>
