<% sender = message.user == current_user ? "me" : "her" %>
<div class="chat-bubble-wrapper d-flex chat-container <%= sender %>">
   <div class="chat-image d-flex flex-column align-items-center <%= sender %>">
      <%= cl_image_tag message.user.photo %>
<!--        <div class="chat-username"><%= message.user.identifier %></div> -->
    </div>
    <div class="chat-bubble d-flex flex-column justify-content-between <%= sender %>">
    <div class="chat-message"><%= message.content %></div>
    <div class="chat-timestamp <%= sender %>"><%= message.created_at.strftime("%b %e, %l:%M %p") %></div>
  </div>
</div>
