<div class="container mt-5">
  <div class="d-flex row">
    <div class="col-12 col-md-4">
      <div class="mr-1 sticky">

        <div class="card-mentor-chat">
          <h6>You are chatting with </h6>
          <div class="circle">
            <%= cl_image_tag @counterparty.photo, class: "round" %>
          </div>
          <div>
            <h6 class="font-weight-bold my-0"><%= @counterparty.first_name %> <%= @counterparty.last_name %></h6>
            <p class="my-0"><%= @counterparty.profile.current_title %> at <%= @counterparty.profile.current_employer %></p>
            <p class="mt-0 mb-2"><%= @counterparty.profile.city %>, <%= @counterparty.profile.state %></p>
          </div>
            <%= link_to "View Profile", profile_path(@counterparty.profile), class: "btn btn-ghost btn-block mt-4 mb-1" %>
        </div>
      </div>

    </div>

    <div class="col-12 col-md-8">
        <div class="chat-wrapper">
          <%= form_with(model: [@match, @message], remote: true, format: :json, id: 'chat-form') do |form| %>
            <% if @message.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@message.errors.count, "error") %> prohibited this chat from being saved:</h2>
                <ul>
                  <% @message.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="chat-bubble-wrapper head d-flex flex-row chat-container me">
              <div id="message-area">
               <%= form.text_area :content, id: :message, class: "form-control p-4", required: true, placeholder: "Type a message...", autocomplete: 'off', rows: 4 %>
               <%= form.hidden_field :identifier, id: :identifier, value: current_user.identifier %>
               <div class="d-flex justify-content-end mt-3">
                <%= form.submit 'Send Message', class: "btn-solid small" %>
               </div>
              </div>
             <div class="chat-image d-flex flex-column align-items-center me">
                <%= cl_image_tag current_user.photo %>
              </div>
            </div>
          <% end %>

          <div class="chat-box" data-match_id="<%= @match.id %>" data-current_user="<%= current_user.id %>">
           <% if @messages.empty?  %>

             <div class="chat-bubble-wrapper">
               <div class="chat-bubble ellevate">
                 <div class="chat-message">
                 <% if current_user.mentee? %>

                 Congratulations! You have just been connected to a mentor at Ellevate. Now it's the time to send your mentor a message! You can start by introducing yourself and your background. You can even propose a short call with her. Good luck! - Ellevate
                 <% else %>
                 Congratulations! You have just been matched to a mentee. She will usually start the conversation, but please feel free to reach out to her!  - Ellevate
                 <% end  %>
               </div>
                 <div class="chat-timestamp her mt-2"><%= Time.now.strftime("%b %e, %l:%M %p") %></div>
               </div>

             </div>

           <% end %>
           <% @messages.each do |message| %>
             <%= render 'messages/message', message: message %>
           <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
