<div class="container">
<h1 class="pt-5" style="text-align: center;">Forums</h1>

<% content_for :meta_title, "Community Forums | Ellevate" %>
<div class="forum-searchbar">
  <%= render 'components/searchbar' %>
</div>

<div class="container d-flex-wrap justify-content-center" style="min-height: 400px;">
  <% if !@posts.nil? %>
    <% if @posts.empty? %>
      <div class="d-flex justify-content-center pt-3">
        <p style="font-size: 18px;">No results for this search :(</p>
      </div>
    <% elsif @posts.count == 1 %>
      <p class="pt-3" style="text-align: center;font-size: 18px;">Your search returned 1 result!</p>
      <div class="d-flex justify-content-center pt-3">
        <span><%= render 'components/card-post', post: @posts.first %></span>
      </div>
    <% else %>
      <div class="d-flex justify-content-center pt-3">
        <ul>
          <p class="pt-3" style="text-align: center;font-size: 18px;">Your search returned <%= @posts.count %> results!</p>
          <% @posts.each do |post| %>
            <span><%= render 'components/card-post', post: post %></span>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="d-flex justify-content-center pt-3">
      <span><%= link_to "Back to Forums", forums_path, class: "text-dark" %></span>
    </div>
  <% else %>
    <ul class="forum-categories">
      <% @forums.each do |forum| %>
        <%= render 'components/card-category', forum: forum %>
      <% end %>
    </ul>
    <% end %>
</div>
<div class="d-flex justify-content-center">
    <%= link_to "Back to Home", root_path, class: "btn-solid" %>
</div>
</div>
