<div class="container">
  <div class="row">
    <div class="col-3 side-bar">
      <%= render "components/side-bar", forums: @forums %>
    </div>

    <div class="col-9 forum-show">
      <div class="dashboard-welcome d-flex flex-row">
        <div class="col-6">
          <img src="<%= asset_path(@forum.photo) %>" alt="">
        </div>
        <div class="content col-6">
          <h2><%= @forum.name %></h2>
        </div>
      </div>

      <div class="forum-searchbar">
        <form class="simple_form search" action="<%= forum_path(@forum) %>" method="get" autocomplete="off">
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search" id="search_query" placeholder="Search within <%= @forum.name.downcase %>..." />
          <button name="button" type="submit" class="btn btn-solid">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
        </form>
      </div>

      <% if @results.nil? && !@posts.empty?%>
      <div class="d-flex row justify-content-end mr-3 mb-2">
          <%= render 'components/modal-new-post' %>
      </div>
        <div class="card-post table-header disabled">
          <div class="user">
            <p>User</p>
          </div>
          <div class="post-title">
            <h6 class="d-flex align-items-center">Topic</h6>
          </div>
          <div class="post-number">
            <h4>Replies</h4>
          </div>
          <div class="post-date">
            <h4>Activity</h4>
          </div>
        </div>
        <% @posts.reverse.each do |post| %>
          <%= render 'components/card-forum-post', post: post %>
        <% end %>

      <% elsif @results.nil? && @posts.empty? %>
        <p>No posts for this category</p>
      <% elsif !@results.nil? %>
        <% if @results.empty? %>
          <div class="d-flex justify-content-center pt-3">
            <p class="pt-3" style="text-align: center;font-size: 18px;">No results for this search :(</p>
          </div>
        <% elsif @results.count == 1 %>
          <div class="d-flex justify-content-center pt-3">
            <p class="pt-3" style="text-align: center;font-size: 18px;">Your search returned 1 result!</p>
          </div>
          <div class="d-flex justify-content-center pt-3">
            <li><%= render 'components/card-post', post: @results.first %></li>
          </div>
        <% else %>
          <p class="pt-3" style="text-align: center;font-size: 18px;">Your search returned <%= @results.count %> results!</p>
          <div class="d-flex justify-content-center pt-3">
            <ul>
              <% @results.each do |result| %>
                <span><%= render 'components/card-post', post: result %></span>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
      <div class="d-flex justify-content-center mt-5">
        <span><%= link_to "Back to Categories", forums_path, class: "btn-solid" %></span>
      </div>
    </div>
  </div>
</div>
