<%= link_to event_path(event), class:"text-decoration-none" do %>
<div class="container-small">
  <div class="card-event">
    <%= cl_image_tag event.photo%>
    <div class="event-info">
      <p><%= event.city %></p>
      <h2><%= event.title %></h2>
      <h5><%= event.date.strftime('%b %d, %Y') %>, <%= event.start_time.strftime('%l:%M %p') %>-<%= event.end_time.strftime('%l:%M %p') %> </h5>
      <div class="d-flex event-host-info align-items-center">
        <%= cl_image_tag event.host_photo, class: "avatar" %>
        <p>Hosted by <strong><%= event.host %></strong> of <%= event.host_company %></p>
      </div>
    </div>
  </div>
</div>
<% end %>


