<%= link_to forum_path(forum), class:"text-decoration-none" do %>
<div class="card-category">
  <div class="category col-6">
    <img src="<%= asset_path(forum.photo) %>" alt="forum-photo">
    <h2 class="d-flex align-items-center justify-content-center"><%= forum.name %></h2>
  </div>
  <div class="content col-6">
    <div>
      <h6>Latest Activity</h6>
      <p><%= time_ago_in_words(forum.posts.last.created_at) %></p>
    </div>
    <div class="last-topic">
      <h6>Latest Post</h6>
      <div class="topic">
        <img src="<%= forum.posts.last.user.photo %>" alt="" class="avatar">
        <h4><%= forum.posts.last.subject %></h4>
      </div>
    </div>
  </div>
</div>
<% end %>
