<%= link_to forum_post_path(post.forum.id, post), class: "link-none" do %>
  <div class="card-post">
    <div class="user">
      <%= cl_image_tag post.user.photo, class: "avatar" %>
      <p><%= post.user.first_name %></p>
    </div>
    <div class="post-title">
      <h6 class="d-flex align-items-center"><%= post.subject %></h6>
    </div>
    <div class="post-number">
      <h4><%= post.replies.count %></h4>
    </div>
    <div class="post-date">
      <h4><%= time_ago_in_words post.replies.last.created_at, locale: :en %> ago</h4>
    </div>
  </div>
<% end %>
