<div class="card-event">
  <%= cl_image_tag event.photo%>
  <div class="event-info">
    <h6><%= event.city.capitalize %></h6>
    <h2><%= event.title %></h2>
    <h5><%= event.date.strftime('%b %d, %Y') %></h5>
    <h5><%= event.start_time.strftime('%l:%M %p') %>~<%= event.end_time.strftime('%l:%M %p') %></h5>
    <div class="d-flex event-host-info">
      <%= cl_image_tag event.host_photo, class: "avatar" %>
      <p>Hosted by <%= event.host %> of <%= event.host_company %></p>
    </div>
  </div>
</div>



