<div class="mentor-card-container large">
  <div class="mentor-card">
    <%= cl_image_tag match.mentor.photo %>
    <h6><%= match.mentor.first_name %> <%= match.mentor.last_name %></h6>
    <p><%= match.mentor.profile.current_title %> at <%= match.mentor.profile.current_employer %></p>
    <p><%= match.mentor.profile.city %>, <%= match.mentor.profile.state %></p>
  </div>
  <div class="mentor-tagline">
    <p>"<%= match.mentor.profile.tagline %>"</p>
  </div>
  <div class="match-button">
    <button type="button" class="btn-ghost small" data-toggle="modal" data-target="#mentor-<%= match.mentor.id %>">View profile</button>
    <%= button_to "Match with #{match.mentor.first_name}", matches_path, class: "btn-solid small", params: { match: { mentor_id: match.mentor.id } } %>
  </div>
</div>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="mentor-<%= match.mentor.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle"><%= match.mentor.full_name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-background">
        <div class="small-container">
          <%= render "profiles/profile", profile: match.mentor.profile %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= button_to "Match with #{match.mentor.first_name}", matches_path, class: "btn-solid small", params: { match: { mentor_id: match.mentor.id } } %>
      </div>
    </div>
  </div>
</div>
