<% content_for :meta_title, "Registration | Ellevate" %>
<div class="form-container">
<div class="form-wrapper mt-3">
  <div class="logo-wrapper">
    <div class="logo"></div>
  <h2 class="log-in-header">Ellevate</h2>
  </div>
  <div class="p-div">
  <p class="log-in-p ">Find a mentor and change your life</p>
  </div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="form-actions">
      <%= f.button :submit, 'Sign in with Linked In', class:"btn my-5 btn-linkdin form-label btn-block" %>
    </div>

    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first_name", class: "form-input"},
                label_html: { class: "form-label" } %>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "last_name", class: "form-input"},
                label_html: { class: "form-label" } %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: "form-input" },
                label_html: { class: "form-label" } %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: "form-input" },
                label_html: { class: "form-label" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password", class: "form-input" },
                label_html: { class: "form-label" } %>
     <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class:"btn my-5 btn-black form-label btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
