<div class="container-medium-small">
  <div class="row matches-text">
    <h4>Here are your matched mentors</h4>
  </div>
  <div class="row justify-content-start">
      <div class="col-4 my-2">
        <%= render 'components/card-match'  %>
      </div>
      <div class="col-4 my-2">
        <%= render 'components/card-match'  %>
      </div>
      <div class="col-4 my-2">
        <%= render 'components/card-match'  %>
      </div>
      <div class="col-4 my-2">
        <%= render 'components/card-match'  %>
      </div>
      <div class="col-4 my-2">
        <%= render 'components/card-match'  %>
      </div>
      <div class="col-4 my-2">
        <%= render 'components/card-match'  %>
      </div>
  </div>
</div>
