<div class="container">
  <div class="row">
    <div class="col-3 side-bar">
      <%= render "components/side-bar", forums: @forums %>
    </div>

    <div class="col-9 post-body">
      <div class="post-title">
        <h2><%= @post.subject %></h2>
        <p><%= cl_image_tag @post.user.photo, class: "avatar mr-3" %> <%= @post.user.first_name %></p>
        <h6><%= @post.content %></h6>
      </div>

      <h6 class="pb-3" style="text-align: center;">Replies from the community</h6>
        <% if !@post.replies.empty? %>
          <% @post.replies.each do |reply| %>
              <%= render 'components/card-reply', reply: reply %>
          <% end %>
            <div class="py-3">
              <% if signed_in? %>
                <h6 class="my-3"><strong>Post a reply</strong></h6>
                <%= simple_form_for [@post, @reply] do |f| %>
                <%= f.input :content %>
                <%= f.button :submit, autocomplete: "off", class: "btn-solid small" %>
                <% end %>
              <% else %>
                <p><%= link_to "Sign in to reply", new_user_session_path %> </p>
              <% end %>
            </div>
        <% else %>
          <% if signed_in? %>
            <p>Be the first to reply</p>
            <%= simple_form_for [@post, @reply] do |f| %>
            <%= f.input :content %>
            <%= f.button :submit %>
            <% end %>
          <% else %>
            <p><%= link_to "Be the first to reply", new_user_session_path %> </p>
          <% end %>
        <% end %>

      <%= link_to "Back to #{@forum.name}", forum_path(@forum), class: "btn btn-solid my-5" %>
    </div>
  </div>
</div>
