<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ellevate - Join the community</title>
    <meta name="description" content="We help women come together to learn from each other and achieve their goals, because women can be a powerful force for change in the world.">
    <meta property="og:title" content="Ellevate - Mentorship is the key to our success">
    <meta property="og:image" content="https://images.unsplash.com/photo-1554200876-56c2f25224fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
    <meta property="og:description" content="We help women come together to learn from each other and achieve their goals, because women can be a powerful force for change in the world.">
    <meta property="og:site_name" content="Ellevate"/>
    <meta property="og:url" content="https://ellevate.world.com" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Ellevate">
    <meta name="twitter:title" content="Ellevate - Mentorship is the key to our success">
    <meta name="twitter:description" content="We help women come together to learn from each other and achieve their goals, because women can be a powerful force for change in the world.">
    <meta name="twitter:creator" content="@Ellevate">
    <meta name="twitter:image:src" content="https://images.unsplash.com/photo-1554200876-56c2f25224fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  </head>
  <body>
    <%= render 'components/navbar' %>
    <%= render 'shared/flashes' %>
    <div id="view-wrapper">
      <%= yield %>
    </div>
    <%= render 'components/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
